body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  padding-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

/* Headings  */

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.2;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.competences-heading {
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #903749;
}

.vita-heading {
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #f5f5f5;
}

.vita-subheading {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 2%;
  color: #903749;
}

.imprint-heading {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 5%;
  margin-bottom: 2%;
  color: #903749;
}

.imprint-subheading {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 5%;
  margin-bottom: 2%;
  color: #f5f5f5;
}

.imprint-subsubheading {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #f5f5f5;
}

/* Containers */

.container-fluid {
  padding: 5% 15%;
}

/* Sections */

.colored-section {
  background-color: #233142;
  color: #f5f5f5;
}

.white-section {
  background-color: #f5f5f5;
}

/* Navigation Bar */

#navi .container-fluid {
  padding: 0% 15%;
  border-bottom: solid #903749 2px;
}

.navbar {
  margin-right: -15px;
  margin-left: -15px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.brand-name {
  color: #903749;
}

.brand-name:hover {
  color: #903749;
}

.toggler-icon {
  color: #f5f5f5;
}

.navbar-toggler.collapsed .close-icon {
  display: none;
}

.navbar-toggler:not(.collapsed) .burger-icon {
  display: none;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 300;
  color: #f5f5f5;
}

.nav-link:hover {
  color: #903749;
}

/* Title Section */

#title .container-fluid {
  padding: 5% 15% 12% 15%;
  text-align: left;
  height: 550px;
}

.title-img {
  width: 80%;
  border-radius: 10%;
  position: absolute;
  right: 8%;
}

.title-row {
  margin-top: 5%;
}

.title-questions {
  display: block;
}

.title-questions .big-heading {
  color: #a67e05;
  text-align: center;
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 700;
  margin: 10% 20% 0 20%;
}

.carousel-indicators li {
  width: 50px;
  height: 5px;
}

.typewrite {
  color: #a67e05;
}

.title-cta {
  text-align: center;
  margin: 5% 10% 0 10%;
}

.title-cta .big-heading {
  font-size: 3rem;
  margin-bottom: 5%;
  line-height: 1.5;
  color: #f5f5f5;
}

.cta-button {
  margin: 0% 0 0 0;
  font-family: "Montserrat";
  font-weight: 300;
  background-color: #a67e05;
  border-color: #a67e05;
}

/* Competences Section */

#competences {
  position: relative;
}

.competences-box {
  padding: 4%;
}

.competences-title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
}

.competences-icon {
  color: #903749;
  margin-bottom: 1rem;
}

.competences-icon:hover {
  color: #c72c41;
}

.competences-paragraph {
  margin-top: 4%;
}

/* Vita Section */

.vita-card {
  background-color: #233142;
  border-color: #233142;
  width: 70%;
  margin: auto;
}

.card-header {
  background-color: #233142;
}

.vita-button {
  color: #f5f5f5;
}

.vita-button:hover {
  color: #f5f5f5;
}

.vita-body {
  margin: 0 15% 0 15%;
  text-align: left;
}

.vita-link {
  color: #c72c41;
}

.vita-link:hover {
  color: #c72c41;
}

.vita-icon {
  margin-top: 40px;
  margin-bottom: 20px;
}

.vita-date {
  text-align: left;
}

.vita-title {
  text-align: center;
}

.vita-place {
  text-align: right;
}

.collapse-icon {
  margin-left: 5%;
  font-size: 1.2rem;
  transition: transform 0.3s ease-in-out;
}

button[aria-expanded="true"] .collapse-icon {
  transform: scaleY(-1);
}

.download-button {
  margin: 0% 0% 5% 0%;
  font-family: "Montserrat";
  font-weight: 300;
  background-color: #a67e05;
  border-color: #a67e05;
}

/* Hobby Section */

/* Contact Section  */

.contact-button {
  margin: 0% 0% 5% 0%;
  font-family: "Montserrat";
  font-weight: 300;
  background-color: #a67e05;
  border-color: #a67e05;
}

.contact-img {
  width: 25%;
  border-radius: 10%;
  position: relative;
  margin: 5% 0 5% 0;
}

.playlist {
  width: 50%;
  height: 380px;
}

/* Footer Section */

#footer {
  text-align: center;
}

#footer .container-fluid {
  padding-bottom: 2%;
}

.footer-icon {
  margin: 10px 10px;
  color: #903749;
}
.footer-icon:hover {
  color: #c72c41;
}

.footer-content {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1rem;
}

.footer-imprint {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1rem;
  color: #903749;
}

.footer-imprint:hover {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1rem;
  color: #903749;
}

/* Imprint Section */

#navi-imprint .container-fluid {
  padding: 0% 15%;
}

#imprint .container-fluid {
  padding: 5% 15%;
  text-align: justify;
}

.imprint-content {
  font-size: 1rem;
}

/* Privacy Section */

#privacy .container-fluid {
  padding: 0 15% 5%;
  text-align: justify;
}

.imprint-content {
  font-size: 1rem;
}

/* Media Query */

@media (min-width: 320px) and (max-width: 760px) {
  #navi .container-fluid {
    padding: 0 5%;
  }

  #navi-imprint .container-fluid {
    padding: 0 5%;
  }

  #navi-imprint .brand-name {
    font-size: 2.5rem;
    color: #903749;
  }
  #navi-imprint .navbar-nav {
    margin: 0 !important;
  }

  #title {
    text-align: center;
  }

  #title .container-fluid {
    padding: 5%;
    text-align: center;
  }

  #vita .container-fluid {
    padding: 10% 0;
  }

  .container-fluid {
    padding-top: 10%;
  }

  .big-heading {
    margin-top: 15%;
    font-size: 2rem;
    text-align: center;
  }

  .title-row {
    margin-top: 0%;
  }

  .title-questions .big-heading {
    color: #a67e05;
    text-align: center;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 700;
    padding: 30% 5% 30% 5%;
    margin: 5%;
  }

  .tile-name .big-heading {
    margin: 5%;
    padding: 30% 5% 30% 5%;
  }

  .title-cta {
    margin: 0 5% 0 5%;
  }

  .title-cta .big-heading {
    font-size: 2rem;
    margin-top: 15%;
    margin-bottom: 10%;
  }

  .title-cta .vita-subheading {
    margin-top: 2%;
    margin-bottom: 0%;
  }

  .cta-button {
    margin: 5% 0 0 0;
    font-family: "Montserrat";
    font-weight: 300;
    background-color: #a67e05;
    border-color: #a67e05;
  }

  .vita-heading {
    font-size: 1.8rem;
  }

  .vita-subheading {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #903749;
  }

  #contact .vita-subheading {
    margin-top: 15%;
    margin-bottom: 10%;
  }

  .section-heading {
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 5% 0 5% 0;
  }

  .title-img {
    position: static;
    transform: rotate(0);
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .competences-heading {
    font-size: 1.8rem;
    margin: 5% 0 5% 0;
  }

  .competences-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 1.2rem;
  }

  .competences-paragraph {
    margin-top: 4%;
    font-size: 1rem;
  }

  .competences-icon.fa-4x {
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .vita-card {
    background-color: #233142;
    border-color: #233142;
    width: 100%;
    margin: auto;
  }

  .vita-row {
    font-size: 1rem;
    margin: auto;
  }

  #vita .col {
    flex-basis: inherit;
    text-align: center;
  }
  .vita-body {
    font-size: 1rem;
    padding: 0 2% 0 2%;
  }

  #contact .container-fluid {
    padding: 10% 5%;
  }

  .contact-img {
    width: 65%;
    border-radius: 10%;
    position: relative;
    margin: 10% 0 15% 0;
  }

  .playlist {
    width: 100%;
    height: 600px;
  }

  #footer .container-fluid {
    padding: 10% 0 5% 0%;
  }

  .footer-icon.fa-4x {
    font-size: 3em;
  }

  #imprint .container-fluid {
    padding: 5% 7%;
    text-align: left;
  }

  #privacy .container-fluid {
    padding: 0 7% 5%;
    text-align: left;
  }
}

@media (min-width: 761px) and (max-width: 1200px) {
  body {
    height: auto;
    width: auto;
  }

  #title {
    text-align: center;
  }

  .title-img {
    position: relative;
    transform: rotate(0);
    margin-top: 3%;
    width: 60%;
    right: 0%;
  }

  .col-img {
    text-align: center;
  }

  .big-heading {
    margin-top: 5%;
    font-size: 2.5rem;
    text-align: center;
  }

  .title-questions .big-heading {
    color: #a67e05;
    text-align: center;
    font-family: "Montserrat";
    font-size: 2.5rem;
    font-weight: 700;
    padding: 30% 5% 30% 5%;
    margin: auto;
  }

  .title-cta {
    margin: 0 5% 0 5%;
  }

  .title-cta .big-heading {
    font-size: 2.5rem;
    margin-top: 10%;
    margin-bottom: 5%;
  }

  .cta-button {
    margin: 5% 0 0 0;
    font-family: "Montserrat";
    font-weight: 300;
    background-color: #a67e05;
    border-color: #a67e05;
  }
  .vita-card {
    width: 100%;
  }

  .contact-img {
    width: 50%;
  }

  .playlist {
    width: 100%;
    height: 600px;
  }
}

@media (min-width: 1601px) and (max-width: 2000px) {
  .brand-name {
    font-size: 3rem;
    color: #903749;
  }
  .nav-link {
    font-size: 1.5rem;
  }

  .title-img {
    width: 80%;
    border-radius: 10%;
    position: absolute;
    right: 5%;
    margin-bottom: 20%;
  }

  .title-cta {
    text-align: center;
    margin: 0% 10% 0 10%;
  }

  .title-row {
    margin-bottom: 15%;
  }

  .competences-title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 2rem;
  }

  .competences-paragraph {
    margin-top: 4%;
    font-size: 1.5rem;
  }

  .competences-icon {
    color: #903749;
    margin-bottom: 1rem;
  }

  .vita-row {
    font-size: 1.5rem;
  }

  .vita-body {
    font-size: 1.5rem;
  }

  .contact-img {
    width: 20%;
  }

  .big-heading {
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
  }

  .section-heading {
    font-size: 3.5rem;
    line-height: 1.5;
  }

  .competences-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #903749;
  }

  .vita-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #f5f5f5;
  }

  .vita-subheading {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 2%;
    color: #903749;
  }
}
